html {
    font-size: 12px;
    color: rgb(85, 85, 85);
}

.search-engine {
    display: flex;
}

.search-engine input{
    margin: auto;
    width: 500px;
    height: 30px;
    border: 2px solid white;
    border-radius: 10px;
}
    


@media only screen and (max-width: 1050px) {
    body {
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
    }
}

